//we moved all the codes at the top to the _config.scss so we can just import it here

@import "config";
@import "menu";
//we remove here the import mobile and place it on the bottom because we want this to run after our initial css

//let's add a box-sizing property for everything, so if you wanna select everything in css, you wanna use * means all,
* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

//Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  //& means include class lg-heading
  &.lg-heading {
    font-size: 6rem;
  }

  //on the padding, the 0.2rem will be added on the top and bottom, and the 1rem will be added on the left and right
  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    //lighten takes 2 color parameter, first is the primary color and second is how much are we going to lighten it. and then we wrapped it with rgba so we can add another parameter for the opacity
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;

  //z-index is how close to you a z element is, the bigger the number, the closer to you it is.
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  //height: 100%;

  //we changed the height of our main page because what will happen if we dont is that the footer will go up insteadof sticking at the bottom, so we would want to calc it by 100 height slices - 60px which is the height of the footer so it wont eat up whenever we make some changes on the body.
  min-height: calc(100vh - 60px);
  //since we are nesting this, it will only affect the icons that are inside the main property
  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        //first parameter is what you wanna transition, all means anything that is transitionable, next parameter is the time it takes, and the next is the motion -- however we moved the transition property at the top so we can do mixin, so to add mixin we need to say include and then the name of the mixin

        //so now that we created mixin, instead of repeating this style transition we can just say include on every code it will be use.
        @include easeOut();
      }
    }
  }

  //we want this inside main but not on the others so we put it here

  &#home {
    overflow: hidden;
    h1 {
      //vh = viewport height,  you can think of it like think of a height that is 100 slices, and 20vh is like 20 of those slices, so if you say 100vh then it will take up the whole thing, and if 50vh then it will take up half of it.
      margin-top: 20vh;
    }
  }
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bioimage bio bio"
    "job1 job2 job3";

  grid-template-columns: repeat(3, 1fr);

  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color;
  }

  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }

  .job-1 {
    grid-area: job1;
  }

  .job-2 {
    grid-area: job2;
  }

  .job-3 {
    grid-area: job3;
  }

  .job {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
  }
}

// Wok/Projects
.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);

  img {
    width: 100%;
    border: 3px #fff solid;

    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}

//Button Styles
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: #333;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}

@import "mobile";
